body{
        background-color: #f9f7fe;
        font-family: Barlow;
        font-weight: 400;

}
header{
    border-bottom: 1px solid #f9f7fe;
    padding: 0 0 30px 0;
}
a{
    color: blueviolet;

}
main{
    padding: 30px 0;
}

.app-face{
    background-color: white;
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    box-shadow:0 30px 50px rgba(65, 50, 100, 0.08) ;
    border-radius: 18px;
}
.input-box{
    background-color: #f9f7fe;
    padding: 15px;
    border: none;
    border-radius: 8px;
    width: 80%;
    font-size: 16px;
}
.search-button{
    background-color: blueviolet;
    padding: 15px 30px;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    color: white;

}
.weather-app-data{
    display: flex;
    justify-content: space-between;
}
.current-city {
    margin: 0;
    font-size: 38;
    padding-top: 20px;
}
.current-weather-details{
    font-size: 16px;
    line-height: 20px;
    color:rgba(65, 50, 100, 0.7);

}
.current-weather-details strong{
    color:crimson;
    font-size: 20px;
    font-weight: 500;
}
.current-temperature-data{
    padding-top: 20px;
    margin-top: 30px;
}
footer{
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0;
    font-size: 12px;
    text-align: center;
    color:rgba(65, 50, 100, 50)
}